{{ template "_modules/header/index.html" . }}
<main class="p-main">
  <div class="p-main__inner">
    <div id="particles-js" class="p-main__inner_bg js-contents-scroll02"></div>
    <div class="main-iiner_title js-contents-scroll01">
      <h2 class="title">COMPANY THAT SPECIALIZES IN WEB APPLICATION DEVELOPMENT</h2>
      <p class="text">私たちのミッションは、エネルギー革命を技術革新により推進し、
より良い世界を創出することです。</p>
    </div>
    <p class="main-scroll js-contents-scroll02">SCROLL</p>

  </div>
</main>

<section id="introduction" class="p-contents--intro">
  <div class="p-contents__inner js-contents-scroll01">
    <p class="inner_label">INTRODUCTION</p>
    <h3 class="inner_title">利益を上げるための戦略とクリイティブを提供するブランディングカンパニー</h3>
  </div>

  <div class="p-contents__inner-flex js-contents-scroll02">
    <div class="flex_left">
      <p class="flex_item c-text">いずれ安打が出るとは思っていただろうが、丸の二塁打は本人にとっても、監督・コーチにとってもホッとする一打だったと思う。真ん中付近の甘い球を見逃さず、</p>
      <p class="flex_item c-text">ヒットがない時も四球で出塁はしていた。ただ、その四球も打ちたくて仕方がない中で結果的に選んだもの。今日、安打が出た後の四球は心に余裕を持ち、良い感じで球を見ることができていた。</p>
    </div>
    <div class="flex_right js-img-animate js-contents-scroll03">
      <div class="js-img-animate__item">
        <img src="/images/main01.png">
      </div>
    </div>
  </div>
</section>

<section id="service" class="p-contents--service">
  <div class="p-contents__inner-flex js-contents-scroll01">
    <div class="flex_left js-img-animate js-contents-scroll02 u-is-pc">
      <div class="js-img-animate__item">
        <img src="/images/main02.png">
      </div>
    </div>
    <div class="flex_right">
      <p class="inner_label">SERVICE</p>
      <h3 class="inner_title">利益を上げるための戦略とクリイティブを提供します</h3>

      <p class="flex_item c-text">株式会社SINCE.ヒットがない時も四球で出塁はしていた。ただ、その四球も打ちたくて仕方がない中で結果的に選んだもの。今日、安打が出た後の四球は心に余裕を持ち、良い感じで球を見ることができていた。.は、</p>

      <dl class="flex_item">
        <dt class="c-text--bold">WEB,アプリ開発/ディレクション</dt>
        <dd class="c-text">株式会社SINCE.ヒットがない時も四球で出塁はしていた。ただ、その四球も打ちたくて仕方がない中で結果的に選んだもの。今日、安打が出た後の四球は心に余裕を持ち、良い感じで球を見ることができていた。.は、</dd>
      </dl>
      <dl class="flex_item">
        <dt class="c-text--bold">マーケティング コンサルティング</dt>
        <dd class="c-text">株式会社SINCE.ヒットがない時も四球で出塁はしていた。ただ、その四球も打ちたくて仕方がない中で結果的に選んだもの。今日、安打が出た後の四球は心に余裕を持ち、良い感じで球を見ることができていた。.は、</dd>
      </dl>
    </div>
  </div>
</section> 


<section id="profile" class="p-contents--company">
  <div class="p-contents__inner">
     <p class="inner_label">PROFILE</p>
  </div>
 
  <div class="p-contents__inner--secondary js-contents-scroll01">
    <h3 class="inner_title js-contents-scroll02">OUTLINE</h3>

    <div class="js-contents-scroll03">
      <dl class="inner_table">
      <dt class="inner_table-title">会社名</dt>
      <dd class="inner_table-text">ENECHANGE株式会社</dd>
    </dl>
    <dl class="inner_table">
      <dt class="inner_table-title">本社所在地</dt>
      <dd class="inner_table-text">
    〒100-0004<br>東京都千代田区大手町2-6-2日本ビル 3F</dd>
    </dl>
    <dl class="inner_table">
      <dt class="inner_table-title">創立</dt>
      <dd class="inner_table-text">2015年4月</dd>
    </dl>
    <dl class="inner_table">
      <dt class="inner_table-title">主な事業内容</dt>
      <dd class="inner_table-text">トヨタ自動車株式会社（TOYOTA MOTOR CORPORATION）<br>トヨタ自動車株式会社（TOYOTA MOTOR CORPORATION）<br>トヨタ自動車株式会社（TOYOTA MOTOR CORPORATION）</dd>
    </dl>
      
    </div>
    
  </div>
</section>

<section id="message" class="p-contents--message js-contents-scroll01">
  <div class="p-contents__inner js-contents-scroll02">
    <p class="inner_label">MESSAGE</p>
    <h3 class="inner_title">クライアントの皆様へ</h3>
  </div>

  <div class="p-contents__inner-flex js-contents-scroll03">
    <div class="flex_left">
      <p class="c-text">ブランドを運営されている方がとても忙しいことを私たちはよく知っています。常に仕事に追われるなか、先へ進まなければならないという大変なチャレンジを続けている状況を目の当たりにしてきました。状況は刻一刻と変わり、新たな判断を求められることも多いことと思います。私たちが心がけているのは客観的な視点を持ちながらも同じゴールを目指す姿勢です。お客様のスピードに全力でついていくことはもちろん、時には伴走者となって一つでも良い結果が得られるように一緒に走ります。</p>
      <p class="c-text--right">株式会社　楽天　代表取締役　佐藤太郎</p>
    </div>
    <div class="flex_right-message">
      <img src="https://since2018.jp/assets/image/home/photo-masato.png">
    </div>
  </div>
</section>

<section id="contact" class="p-contents--contact js-contents-scroll01">
  <div class="p-contents__inner js-contents-scroll02">
    <p class="inner_label">CONTACT</p>
  </div>

  <div class="p-contents__inner--secondary js-contents-scroll03">
    <h3 class="inner_title--contact">CONTACT US</h3>
    <p class="c-text">企業様の商品・サービスの認知向上を目的としたプロモーションプランをご提供します。</p>

    <p class="c-btn">
      <a href="mailto:info@example.com">
        お問い合わせはこちら
      </a>
    </p>
  </div>
</section>


<style>
  #particles-js {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    z-index: 0;
    background: url('/images/main.png') left top no-repeat;
    background-size: cover;
  }  
</style>

{{ template "_modules/footer/index.html" . }}

